<div class="images-container">
  <img class="fondo-1" src="./assets/img/brand/fondo-login1.png" alt="fondo login1">
  <img class="fondo-2" src="./assets/img/brand/fondo-login2.png" alt="fondo login2">
</div>
<!-- <div class="form-cotainer">
  <div class="card bg-secondary shadow border-0">
    <div class="card-header bg-transparent pb-5">
      <div class="text-muted text-center mt-2 mb-3">
        <img src="./assets/img/brand/isotipo cleviapp.png" width="60" class="navbar-brand-img" alt="cleviapp">
      </div>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
      <div class="text-center text-muted mb-4">
        <small>Inicio de sesión</small>
      </div>
      <form role="form">
        <div class="form-group mb-3">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
            </div>
            <input class="form-control pl-2" placeholder="Usuario" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
            </div>
            <input class="form-control pl-2" placeholder="Contraseña" type="password">
          </div>
        </div>
        
        <div class="text-center">
          <button type="button" class="btn btn-success my-4">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
