<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <ng-template #modalCuenta let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Movimiento de cuentas por cobrar</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <select name="" id="select-cliente" class="custom-select">
              <option value="">Cliente</option>
              <option value="">option 1</option>
              <option value="">option 2</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-saldo">$</span>
              </div>
              <input
                type="number"
                class="form-control"
                disabled
                placeholder="Saldo"
                aria-label="Saldo"
                aria-describedby="basic-saldo"
              />
            </div>
          </div>
          <div class="col-md-4">
            <select name="" id="select-abono" class="custom-select">
              <option value="">Abono</option>
              <option value="">option 1</option>
              <option value="">option 2</option>
            </select>
          </div>
          <div class="col-md-8">
            <textarea
              name=""
              id=""
              placeholder="Observaciones"
              class="form-control"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer pr-0">
          <button type="button" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalFormaPago let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Movimiento caja de forma de pago</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Forma Pago</th>
              <th scope="col">Importe</th>
              <th scope="col">Propina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>788</td>
              <td>Bono</td>
              <td>$100</td>
              <td>$</td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0)" tabindex="-1">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </ng-template>

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Tabla cuentas por cobar</h3>
        </div>
        <form action="" class="m-4">
          <h5>Filtros</h5>
          <div class="form-row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-3">
              <select name="" id="select-todo" class="custom-select">
                <option value="">Todo</option>
                <option value="" disabled>option 1</option>
                <option value="">option 2</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-3">
              <select name="" id="select-abono" class="custom-select">
                <option value="">Abono</option>
                <option value="">option 1</option>
                <option value="">option 2</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-3">
              <select name="" id="select-persona" class="custom-select">
                <option value="">Carlos</option>
                <option value="">option 1</option>
                <option value="">option 2</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-3">
              <select name="" id="select-todas" class="custom-select">
                <option value="">Todas</option>
                <option value="">option 1</option>
                <option value="">option 2</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="fecha-inicio"
                    >Fecha inicio</span
                  >
                </div>
                <input
                  type="date"
                  class="form-control pl-2"
                  aria-label="fecha-inicio"
                  aria-describedby="fecha-inicio"
                />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="fecha-fin">Fecha fin</span>
                </div>
                <input
                  type="date"
                  class="form-control pl-2"
                  aria-label="fecha-fin"
                  aria-describedby="fecha-fin"
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-warning" type="button">
              <i class="fas fa-broom"></i> Limpiar
            </button>
            <button class="btn btn-success" type="button">
              <i class="fas fa-filter"></i> Filtrar
            </button>
          </div>
        </form>
        <div class="d-flex justify-content-end mx-4 mb-2">
          <button class="btn btn-success" (click)="showModal(modalCuenta)">
            <i class="fas fa-plus"></i> crear
          </button>
        </div>
        <div class="table-responsive p-4">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Tipo Movimiento</th>
                <th scope="col">Cancelado</th>
                <th scope="col">Valor</th>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>459</td>
                <td>2021-01-21</td>
                <td>00:11:12</td>
                <td>Anticipo por Reserva</td>
                <td>A</td>
                <td>100</td>
                <td>112</td>
                <td>Prueba</td>
                <td></td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-secondary mr-2"
                    placement="top"
                    ngbTooltip="Ver forma de pago"
                    (click)="showModal(modalFormaPago)"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger border-0 mr-2"
                    placement="top"
                    ngbTooltip="Cancelar cuenta"
                  >
                    <i class="far fa-times-circle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
