<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between flex-wrap">
            <h3>Fecha: <small>03/03/2021</small></h3>
            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-motrar-ventas"
                    >Mostrar ventas</span
                  >
                </div>
                <select name="" id="" class="form-control pl-2">
                  <option value="">Todas</option>
                  <option value="">Cobradas</option>
                  <option value="">Por cobrar</option>
                </select>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ventas por clasificación de productos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Clasificación</th>
                <th scope="col">Ventas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>almuerzo ejecutivo</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ventas por Servicio</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Servicios</th>
                <th scope="col">Ventas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rapido</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ventas por Areas de Venta</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Areas Venta</th>
                <th scope="col">Ventas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Palcon Dorado</td>
                <td>820399</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ml-auto">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Totales</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Impuestos</td>
                <td>$1936.2</td>
              </tr>
              <tr>
                <td>Subtotal</td>
                <td>$1925257</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
