<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card shadow">
    <div class="card-header border-0">
      <h3 class="mb-0">Cierre de caja</h3>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive pl-4 pb-4">
          <table class="table align-items-center table-flush border">
            <thead class="thead-light">
              <tr>
                <th scope="col">Forma de pago</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Amercian Express</td>
                <td><input type="number" class="form-control" /></td>
              </tr>
              <tr>
                <td>Bancolombia</td>
                <td><input type="number" class="form-control" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-grow-1 px-4">
          <form action="">
            <textarea
              name=""
              id=""
              placeholder="Observaciones"
              class="form-control"
            ></textarea>
            <div class="d-flex justify-content-end mt-3">
              <button class="btn btn-success">cerrar caja</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
