ul {
    list-style: none;
    padding-inline-start: 0px;
}

.card-total {
    border-radius: 2rem 0px 5px 0px;
}

.cotainer-producto-to-cart {
    min-height: 60vh;
}

.btn-floating,
[class*=btn-outline-].btn-floating {
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.btn-floating {
    width: 2.3125rem;
    height: 2.3125rem;
}

.btn-floating .fab,
.btn-floating .far,
.btn-floating .fas {
    width: 2.3125rem;
    line-height: 2.3125rem;
}

.btn-floating.btn-lg,
.btn-group-lg>.btn-floating.btn {
    width: 2.8125rem;
    height: 2.8125rem;
}

.btn-floating.btn-lg .fab,
.btn-floating.btn-lg .far,
.btn-floating.btn-lg .fas,
.btn-group-lg>.btn-floating.btn .fab,
.btn-group-lg>.btn-floating.btn .far,
.btn-group-lg>.btn-floating.btn .fas {
    width: 2.8125rem;
    line-height: 2.8125rem;
}

.btn-floating.btn-sm,
.btn-group-sm>.btn-floating.btn {
    width: 1.8125rem;
    height: 1.8125rem;
}

.btn-floating.btn-sm .fab,
.btn-floating.btn-sm .far,
.btn-floating.btn-sm .fas,
.btn-group-sm>.btn-floating.btn .fab,
.btn-group-sm>.btn-floating.btn .far,
.btn-group-sm>.btn-floating.btn .fas {
    width: 1.8125rem;
    line-height: 1.8125rem;
}

[class*=btn-outline-].btn-floating .fab,
[class*=btn-outline-].btn-floating .far,
[class*=btn-outline-].btn-floating .fas {
    width: 2.0625rem;
    line-height: 2.0625rem;
}

.btn-group-lg>[class*=btn-outline-].btn-floating.btn .fab,
.btn-group-lg>[class*=btn-outline-].btn-floating.btn .far,
.btn-group-lg>[class*=btn-outline-].btn-floating.btn .fas,
[class*=btn-outline-].btn-floating.btn-lg .fab,
[class*=btn-outline-].btn-floating.btn-lg .far,
[class*=btn-outline-].btn-floating.btn-lg .fas {
    width: 2.5625rem;
    line-height: 2.5625rem;
}

.btn-group-sm>[class*=btn-outline-].btn-floating.btn .fab,
.btn-group-sm>[class*=btn-outline-].btn-floating.btn .far,
.btn-group-sm>[class*=btn-outline-].btn-floating.btn .fas,
[class*=btn-outline-].btn-floating.btn-sm .fab,
[class*=btn-outline-].btn-floating.btn-sm .far,
[class*=btn-outline-].btn-floating.btn-sm .fas {
    width: 1.5625rem;
    line-height: 1.5625rem;
}

.fixed-action-btn>.btn-floating {
    position: relative;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
}
.metodos-pago button {
    border: solid 2px transparent;
}

.metodos-pago button:focus {
    border: solid 2px rgb(18, 194, 165);
}